.features-book-container {
  position: relative;
}

.featurebook-box {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
.featurebook {
  background: var(--color-light);
  height: 300px; /* Set the desired height for the images */
  object-fit: cover; /* Ensure the image covers the entire container */
  width: 100%; /* Ensure the image takes up the entire width */
}

.featurebook-info > div {
  margin-top: 8px;
  margin-bottom: 20px;
}
.features-books-container {
  margin: auto;
  margin-top: 60px;
}

.swiper-pagination {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 10px;
}

.feature-border {
  margin-top: 56px;
  height: 1px;
  background: var(--color-dark-ex);
  width: 100%;
}

.feature-btn {
  margin: auto;
  margin-right: 0;
  margin-top: -40px;
}

@media (max-width: 1024px) {
  .feature-btn {
    margin: auto;
    margin-top: 30px;
  }
}
